body{
    background-image: url(kyoto.jpg);
    background-size: cover;

    font-family: 'Bree Serif', serif;
    color:white;
    margin: 0;
    margin-bottom: 50px;
}
   
.divide{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 50px;
    margin-top: 30px;
}
.half-width img{
    width: 70%;

}

.linked-in-button{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px 30px;
    border-radius: 5px;
}
#picture-fixed{
    width: 100%;
}
.new-place{
    padding: 60px;
}
#khabar{
    margin-left: 20px;
}
.padding{
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 20px 20px 50px yellowgreen;
    border-left: 10px solid red;
    margin-bottom: 50px;
}
footer{
    text-align: center;
}

