body{
    background-image: url(kyoto.jpg);
    background-size: cover;

    font-family: 'Lobster', cursive;
    color:white;
    margin: 0;
}
   
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 50px;
    margin-top: 30px;
}
.half-width img{
    width: 70%;

}

.linked-in-button{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px 30px;
    border-radius: 5px;
}
#picture-fixed{
    width: 100%;
}
.new-place{
    padding: 60px;
}
